*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  background: #000;
  line-height: 1.7;
}

.navbar-light .navbar-nav .color {
  font-size: 1.5rem;
  color: white;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .color:hover {
  color: #ff9301;
}

form .input--width {
  padding: 1rem 15rem  1rem 1rem;
}

.d-flex input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.d-flex input:-ms-input-placeholder {
  font-size: 1.5rem;
}

.d-flex input::-ms-input-placeholder {
  font-size: 1.5rem;
}

.d-flex input::placeholder {
  font-size: 1.5rem;
}

.d-flex button {
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: white;
  color: black;
  border: none;
  border: 1px solid white;
}

.d-flex button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.logo {
  border-radius: 50%;
}

.navbar {
  padding-left: 2rem;
  background-color: #0C0C14;
}

main {
  width: 100%;
  height: calc(100vh - 6rem - 10rem);
}

.size {
  width: 100%;
  height: 60rem;
}

.size .row {
  width: 100%;
  height: 50rem;
}

.size .row .sayman {
  margin: auto;
}

.size .row .sayman h3 {
  font-size: 2rem;
  color: white;
}

.size .row .sayman h1 {
  font-size: 7rem;
  color: white;
  font-weight: 700;
}

.size .row .sayman h2 {
  color: #ff9301;
  font-size: 2.5rem;
  font-weight: 500;
}

.size .row .sayman p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.size .row .sayman button {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  border: 1px solid black;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.size .row .sayman button:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.tow {
  background-color: #0E0E17;
  width: 100%;
  height: 65rem;
}

.tow .container {
  padding-top: 10rem;
}

.tow .container .row .col-4 .grab {
  text-align: center;
}

.tow .container .row .col-4 .grab--in img {
  border-radius: 50%;
  border: 4px solid #ff9301;
  position: relative;
}

.tow .container .row .col-4 .grab .info {
  position: relative;
}

.tow .container .row .col-4 .grab .info .facebook {
  position: absolute;
  font-size: 2rem;
  left: 69px;
  top: -60px;
  background-color: white;
  border-radius: 50%;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  cursor: pointer;
}

.tow .container .row .col-4 .grab .info .twitter {
  position: absolute;
  font-size: 2rem;
  left: 117px;
  top: -34px;
  background-color: white;
  border-radius: 50%;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  cursor: pointer;
}

.tow .container .row .col-4 .grab .info .instagram {
  position: absolute;
  font-size: 2rem;
  left: 170px;
  top: -23px;
  background-color: white;
  border-radius: 50%;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  cursor: pointer;
}

.tow .container .row .col-4 .grab .info .linkedin {
  position: absolute;
  font-size: 2rem;
  left: 223px;
  top: -34px;
  background-color: white;
  border-radius: 50%;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  cursor: pointer;
}

.tow .container .row .col-4 .grab .info .pinterest {
  position: absolute;
  font-size: 2rem;
  left: 266px;
  top: -61px;
  background-color: white;
  border-radius: 50%;
  color: black;
  border: 1px solid white;
  padding: 1rem;
  cursor: pointer;
}

.tow .container .row .col-4 .grab p {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 4rem;
}

.tow .container .row .col-4 .grab h1 {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

.pl {
  padding-left: 60px;
  padding-top: 20px;
  z-index: 2;
}

.pl h1 {
  font-size: 4rem;
  color: #FFFFFF;
  margin-bottom: 3rem;
  position: relative;
}

.pl h1::after {
  position: absolute;
  content: "";
  top: -4px;
  left: -16px;
  width: 50px;
  height: 50px;
  background-color: #ff9301;
  border-radius: 50%;
  z-index: -1;
}

.pl p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.pl .d-flex {
  margin-top: 4rem;
}

.pl .d-flex .first {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.pl .d-flex .first h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.pl .d-flex .first h2 span {
  padding-left: .8rem;
}

.pl .d-flex .second {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.pl .d-flex .second h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.pl .d-flex .second h2 span {
  padding-left: .8rem;
}

.what {
  height: 55rem;
  width: 100%;
  background-color: #0E0E17;
}

.what .container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 5rem;
}

.feature-box-01 {
  background: #0b0b13;
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.feature-box-01 .icon {
  line-height: 60px;
  font-size: 50px;
  color: #fff;
}

.feature-box-01 .feature-content {
  padding-top: 50px;
}

.icon-mobile::before {
  content: "\e000";
}

.feature-box-01 h5 {
  margin-bottom: 15px;
  color: #fff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 2rem;
}

.feature-box-01 p {
  margin: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 300;
}

.feature-box-01::after {
  top: -72px;
  left: -40px;
  border-radius: 50%;
  z-index: -2;
  background: #ff9301;
}

.feature-box-01::after, .feature-box-01::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.feature-box-01:hover::before {
  top: -72px;
  left: -40px;
  border-radius: 50%;
}

.feature-box-01:hover::after {
  content: "";
  width: 120%;
  left: -10%;
  top: -10%;
  height: 120%;
  border-radius: 0;
  -webkit-transition: all 0.55s cubic-bezier(0.39, 0.58, 0.57, 1);
  transition: all 0.55s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.feature-box-01::before {
  top: -220px;
  left: -220px;
  border-radius: 0;
  z-index: -1;
  background: #0b0b13;
  background-color: #0b0b13;
}

.feature-box-01:hover .icon {
  -webkit-animation: sayman 1s;
          animation: sayman 1s;
}

.feature-box-01:hover .feature-content {
  -webkit-animation: sayman 1s;
          animation: sayman 1s;
}

@-webkit-keyframes sayman {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes sayman {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.Awards {
  background-color: #0E0E17;
  width: 100%;
  padding-bottom: 5rem;
}

.Awards .container h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: white;
}

.m-15px-tb {
  margin-top: 15px;
  padding-bottom: 15px;
}

.feature-box-02 {
  background-color: #0B0B13;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.feature-box-02:hover {
  -webkit-animation: rabbi 2s ease;
          animation: rabbi 2s ease;
}

.media-body {
  padding: 10px;
}

.media-body h6 {
  font-size: 1.8rem;
  color: #fff;
}

.media-body p {
  font-size: 1.5rem;
  color: #FFFFFF;
}

@-webkit-keyframes rabbi {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes rabbi {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.skill {
  width: 100%;
  height: 47rem;
  margin-top: 15rem;
}

.skill h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 3rem;
  position: relative;
}

.skill h1::after {
  position: absolute;
  content: "";
  top: -4px;
  left: -5px;
  width: 50px;
  height: 50px;
  background-color: #ff9301;
  border-radius: 50%;
  z-index: -1;
}

.aducation-box {
  margin: 0;
  padding: 35px;
  border-radius: 10px;
  background: #0b0b13;
  list-style: none;
}

.aducation-box li {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

.aducation-box h6 {
  font-size: 1.8rem;
  color: white;
}

.skill-lt {
  position: relative;
  padding-left: 80px;
  margin-bottom: 3rem;
}

.skill-lt h6 {
  font-size: 15px;
  margin: 0 0 10px;
  font-weight: 400;
  color: #fff;
}

.skill-lt span {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  left: 0;
  top: 8px;
  position: absolute;
}

.skill-lt .skill-bar {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
}

element {
  width: 92%;
}

.skill-lt .skill-bar .skill-bar-in {
  width: 80px;
  position: relative;
  -webkit-transition: all .55s ease;
  transition: all .55s ease;
  height: 10px;
  background: #ff9301;
}

.padding {
  padding-left: 120px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.rivew {
  width: 100%;
  height: 35rem;
  margin-top: 5rem;
}

.rivew .container h1 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin-bottom: 3rem;
  position: relative;
}

.rivew .container h1::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9301;
  z-index: -1;
}

.rivew .center {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.rivew .center .icon {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
}

.rivew .center .icon img {
  border-radius: 50%;
}

.rivew .center h5 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.rivew .center h2 {
  color: white;
}

.rivew .center span {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.protfolio {
  width: 100%;
  height: 200rem;
  background-color: #0B0B13;
  padding-top: 10rem;
}

.protfolio .container .after {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.protfolio .container .after::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff9301;
  z-index: -1;
}

.protfolio .container .content {
  margin-top: 5rem;
}

.protfolio .container .content h2 {
  color: white;
  cursor: pointer;
}

.protfolio .container .content h2:not(:first-child) {
  padding-left: 3rem;
}

.left {
  padding-left: 1rem;
  padding-bottom: 2.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  position: relative;
}

.left:hover .text {
  visibility: visible;
}

.left .text {
  position: absolute;
  top: 20%;
  left: 10%;
  visibility: hidden;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.left .text h1 {
  font-size: 1.8rem;
  color: white;
}

.left .text p {
  font-size: 1.6rem;
  color: white;
}

.left:hover img {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-filter: blur(1.5px) brightness(80%);
          filter: blur(1.5px) brightness(80%);
}

.left img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.right {
  padding-right: 1rem;
  padding-bottom: 2.5rem;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  position: relative;
}

.right:hover .text {
  visibility: visible;
}

.right .text {
  position: absolute;
  top: 20%;
  left: 10%;
  visibility: hidden;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.right .text h1 {
  font-size: 1.8rem;
  color: white;
}

.right .text p {
  font-size: 1.6rem;
  color: white;
}

.right:hover img {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-filter: blur(1.5px) brightness(80%);
          filter: blur(1.5px) brightness(80%);
}

.right img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.width-50 {
  margin-bottom: 1rem;
}

.width-50 input {
  width: 100%;
  color: rgba(255, 255, 255, 0.73);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #0e0e17;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10px;
  font-size: 1.3rem;
}

.width-50 input:focus {
  outline: none;
}

.width-100 {
  margin-bottom: 1rem;
}

.width-100 input {
  width: 100%;
  color: rgba(255, 255, 255, 0.73);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #0e0e17;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10px;
  font-size: 1.3rem;
}

.width-100 input:focus {
  outline: none;
}

.width-100 textarea {
  width: 100%;
  color: rgba(255, 255, 255, 0.73);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #0e0e17;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10px;
  font-size: 1.3rem;
}

.contact {
  width: 100%;
  height: 60vh;
  margin-top: 10rem;
}

.contact button {
  width: 15rem;
  height: 4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #0B0B13;
  font-size: 1.5rem;
  border: 1px solid #0B0B13;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contact button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.contact .say {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
  font-weight: 600;
}

.five h2 {
  font-size: 3.3rem;
  color: #FFFFFF;
  font-weight: 600;
}

.five p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

.five i {
  width: 30px;
  text-align: center;
  color: #ff9301;
  font-size: 22px;
  font-weight: 600;
}

.five h3 {
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: #0B0B13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.4rem;
  font-weight: 400;
}

footer h4 span {
  color: #ff9301;
}
/*# sourceMappingURL=style.css.map */